
<a href="/base/">Data Base</a>
<p>Upload from https://music.youtube.com</p>
<form action="/upload_music/" method="post"> {% csrf_token %}
    <label for="url">Enter url: </label>
    <input id="url" type="text" name="url_">
    <input type="submit" value="Go">
</form>
<p>Deep upload from https://music.youtube.com</p>
<form action="/deep_upload_music/" method="post"> {% csrf_token %}
    <label for="url">Enter url: </label>
    <input id="url" type="text" name="url_">
    <input type="submit" value="Go">
</form>
<p>Database search</p>
<form action="/search/" method="post"> {% csrf_token %}
    <label for="url">Enter name: </label>
    <input id="url" type="text" name="name">
    <input type="submit" value="Search">
</form>